body {
    background-color: rgb(245, 239, 239);
}

 :focus {
    outline: none;
}

* {
    padding: 0;
    margin: 0;
}

.contenedor {
    background: rgba(19, 35, 47, 0.9);
    padding: 50px;
    max-width: 400px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.oferta .item {
    background: #fff;
    border: 1px solid transparent;
}

.oferta .item:hover {
    background: #679bdf;
    border: 1px solid #d0d0d0;
}


/*Footer*/

.inf {
    color: white;
}

.service {
    text-align: center;
    color: #fff;
    font-weight: 300;
    margin: 0 0 40px;
}

.vcard {
    margin: 0px 130px;
    text-align: center;
    color: #fff;
}

.ins {
    margin: 0px 60px;
    text-align: center;
    color: #fff;
}

.select {
    margin: 6px 0 12px 0;
    padding: 6px;
    font-size: 1em;
    border: 2px solid #3892dd;
    width: 260px;
}

.botb {
    margin: 8px 0 8px 0;
    padding: 9px;
    font-size: 1em;
    background-color: #3892dd;
    border: 0;
    color: #fff;
}